body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav ul li {
  display: inline;
}
nav ul li a{
  text-decoration: none;
  color: #333;
}
main {
  text-align: center;
  padding: 20px;
}
footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}