<header>
  <div>
    <p><a href="/">HANDLEBARS TEMPLATE</a></p>
  </div>
  <ul>
    <li><a href="/kong">KONG</a></li>
    <li><a href="/seo">SEO</a></li>
    <li><a href="/kim">KIM</a></li>
  </ul>
</header>